gen/
bin/
.idea/
.gradle
build/

.directory
test_servers
.irb-history
screenshot_*.png
.irbrc
com_crashlytics_export_strings.xml
/AndroidManifest.xml
**/local.properties
**/gradle.properties
**/.calabash_settings
*.iml