<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.fyber.sampleapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

        <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FyberMaterialTheme">
        <activity
            android:name=".AlphaMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

            <!--<activity-->
                <!--android:name="com.jirbo.adcolony.AdColonyOverlay"-->
                <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
                <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />-->
            <!--<activity-->
                <!--android:name="com.jirbo.adcolony.AdColonyFullscreen"-->
                <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
                <!--android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />-->
            <!--<activity-->
                <!--android:name="com.jirbo.adcolony.AdColonyBrowser"-->
                <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
                <!--android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />-->


            <meta-data
                android:name="io.fabric.ApiKey"
                android:value="043fee630558deebb1ef35b008b2ac7da41454b6" />

        </application>

</manifest>
