<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.fyber.sampleapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/FyberMaterialTheme">
        <activity
            android:name=".FyberMainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.sponsorpay.publisher.ofw.SPOfferWallActivity"
            android:configChanges="orientation"/>

        <activity
            android:name="com.sponsorpay.publisher.mbe.SPBrandEngageActivity"
            android:configChanges="screenSize|orientation"
            android:hardwareAccelerated="true"/>


        <activity
            android:name="com.sponsorpay.publisher.interstitial.SPInterstitialActivity"
            android:configChanges="screenSize|orientation"
            android:hardwareAccelerated="true"/>


    </application>

</manifest>
